{% load static %}
<div class="blog_container">
    <div class="row">
      <div class="col-1-2">
        <img class="blog_image" src="{% static 'img/girl_sunset.png' %}" alt="girl_sunset" >
      </div>
      <div class="col-1-2">
        <div style="margin-left: 60px; margin-right: 60px">
          {% include 'includes/text_new_format.txt' %}
          <div class="text-left" style="margin-top: 20px">
            <button type="button" class="btn btn-primary">
              Читать статью
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>