{% load static %}
<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
      {% with request.resolver_match.view_name as view_name %}
      <div class="container">
        <ul>
          <li style="display: inline-block">
            <a class="nav-link {% if view_name  == 'index' %}active{% endif %}"
              href="{% url 'ritm_style:index' %}">Главная</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {#{% if view_name  == 'index' %}active{% endif %}#}"
              {#href="{% url 'ritm_style:index' %}"#}>Сеансы</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {#{% if view_name  == 'index' %}active{% endif %}#}"
              {#href="{% url 'ritm_style:index' %}"#}>Отзывы</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {#{% if view_name  == 'index' %}active{% endif %}#}"
              {#href="{% url 'ritm_style:index' %}"#}>Контакты</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {% if view_name  == 'news' %}active{% endif %}"
              href="{% url 'ritm_style:news' %}">Новости</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {#{% if view_name  == 'index' %}active{% endif %}#}"
              {#href="{% url 'ritm_style:index' %}"#}>Обо мне</a>
          </li>
          <li style="display: inline-block"> 
            <a class="nav-link {% if view_name  == 'blog' %}active{% endif %}"
              href="{% url 'ritm_style:blog' %}">Блог</a>
          </li>
          <li style="display: inline-block" align="left"> 
            {% include 'includes/feedback.html' %}
          </li>
        </ul>
      </div>
      {% endwith %}
    </div>
  </div>
</nav>