{% extends 'base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
<div class="container py-5">
  <h1 align="center">Новости</h1>
  <table>
    <tbody>
      <tr>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
      </tr>
      <tr>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
        <td>
          {% include 'includes/href_new_format.html' %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}